/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.head {
  font-family: 'Lobster';
  font-weight: 600;
  margin-bottom: 10px;
}
.filterItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.repo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 25px;
}
.count {
  color: #1e293b;
  font-family: 'roboto';
}
